node_modules/
dist/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.*
!.env.example

# OS / Editor
.DS_Store
.idea/
.vscode/
*.swp

# TypeScript
*.tsbuildinfo
